body {
  margin: 0% 25% 0% 25%;
}

img {
    width: 85%;
    margin-top: 5%;
}

h3 {
  color: silver;
}

.center{
  text-align: center;
}
.time-selector {
  margin-top: 3%;
}

.button-div {
  margin-top: 3%;
}

.help-text {
  color: gray;
}

.check-box {
  margin-top: 3%;
  vertical-align: top;
}

.check-box span {
  vertical-align: top;
  margin-left: 1%;
}

.check-box input {
  vertical-align: top;
}

